In [28]:
from bs4 import BeautifulSoup
import requests
from pprint import pprint
import pandas as pd

In [29]:
def scrape_wikipedia(url, output_file):
    # Send a GET request to the Wikipedia page
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')

        # Find and print the title of the Wikipedia page
        title = soup.find('h1', {'id': 'firstHeading'})
        print(f"Title: {title.text.strip()}")

        # Find and print the main content of the page
        content = soup.find('div', {'id': 'mw-content-text'})
        paragraphs = content.find_all('p')
        text_content = '\n'.join(paragraph.text for paragraph in paragraphs)

        with open(output_file, 'w', encoding='utf-8') as file:
            file.write(f"Title: {title}\n\n")
            file.write(text_content)

    else:
        print(f"Failed to retrieve the page. Status code: {response.status_code}")

# Replace 'https://en.wikipedia.org/wiki/Your_Page_Title' with the URL of the Wikipedia page you want to scrape
url = 'https://en.wikipedia.org/wiki/Astronomy'
output_file = 'wiki_scraped_data.txt'
scrape_wikipedia(url, output_file)

Title: Astronomy

In [30]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/Marathons_at_the_Olympics"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [31]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [32]:
df = pd.read_html(str(indiatable)) # this is a list
print (len(df))
df = pd.DataFrame(df[0])             # convert to df
df.head()
# Adjusted regular expression
df.to_csv('wiki.csv')

1

/var/folders/_p/y56kr6vs1fz7ycsbxhyqwwwc0000gn/T/ipykernel_7884/938132580.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(indiatable)) # this is a list

In [33]:
df = pd.read_csv('wiki.csv')
df[['Year', 'Location']] = df['Games'].str.split(n=1, expand=True)
df.dropna(how='any', axis = 0)

,Unnamed: 0,Games,Gold,Silver,Bronze,Year,Location
0,0,1896 Athens details,Spyridon Louis Greece,Charilaos Vasilakos Greece,Gyula Kellner Hungary,1896,Athens details
1,1,1900 Paris details,Michel Théato Luxembourg[11][12],Émile Champion France,Ernst Fast Sweden,1900,Paris details
2,2,1904 St. Louis details,Thomas Hicks United States,Albert Corey France[13][14],Arthur Newton United States,1904,St. Louis details
3,3,1908 London details,Johnny Hayes United States,Charles Hefferon South Africa,Joseph Forshaw United States,1908,London details
4,4,1912 Stockholm details,Ken McArthur South Africa,Christian Gitsham South Africa,Gaston Strobino United States,1912,Stockholm details
5,5,1920 Antwerp details,Hannes Kolehmainen Finland,Jüri Lossmann Estonia,Valerio Arri Italy,1920,Antwerp details
6,6,1924 Paris details,Albin Stenroos Finland,Romeo Bertini Italy,Clarence DeMar United States,1924,Paris details
7,7,1928 Amsterdam details,Boughera El Ouafi France,Manuel Plaza Chile,Martti Marttelin Finland,1928,Amsterdam details
8,8,1932 Los Angeles details,Juan Carlos Zabala Argentina,Sam Ferris Great Britain,Armas Toivonen Finland,1932,Los Angeles details
9,9,1936 Berlin details,Sohn Kee-chung Japan[15],Ernest Harper Great Britain,Nam Sung-yong Japan[15],1936,Berlin details
10,10,1948 London details,Delfo Cabrera Argentina,Tom Richards Great Britain,Étienne Gailly Belgium,1948,London details
11,11,1952 Helsinki details,Emil Zátopek Czechoslovakia,Reinaldo Gorno Argentina,Gustaf Jansson Sweden,1952,Helsinki details
12,12,1956 Melbourne details,Alain Mimoun France,Franjo Mihalić Yugoslavia,Veikko Karvonen Finland,1956,Melbourne details
13,13,1960 Rome details,Abebe Bikila Ethiopia,Rhadi Ben Abdesselam Morocco,Barry Magee New Zealand,1960,Rome details
14,14,1964 Tokyo details,Abebe Bikila Ethiopia,Basil Heatley Great Britain,Kokichi Tsuburaya Japan,1964,Tokyo details
15,15,1968 Mexico City details,Mamo Wolde Ethiopia,Kenji Kimihara Japan,Mike Ryan New Zealand,1968,Mexico City details
16,16,1972 Munich details,Frank Shorter United States,Karel Lismont Belgium,Mamo Wolde Ethiopia,1972,Munich details
17,17,1976 Montreal details,Waldemar Cierpinski East Germany,Frank Shorter United States,Karel Lismont Belgium,1976,Montreal details
18,18,1980 Moscow details,Waldemar Cierpinski East Germany,Gerard Nijboer Netherlands,Satymkul Dzhumanazarov Soviet Union,1980,Moscow details
19,19,1984 Los Angeles details,Carlos Lopes Portugal,John Treacy Ireland,Charlie Spedding Great Britain,1984,Los Angeles details
20,20,1988 Seoul details,Gelindo Bordin Italy,Douglas Wakiihuri Kenya,Ahmed Salah Djibouti,1988,Seoul details
21,21,1992 Barcelona details,Hwang Young-cho South Korea,Koichi Morishita Japan,Stephan Freigang Germany,1992,Barcelona details
22,22,1996 Atlanta details,Josia Thugwane South Africa,Lee Bong-ju South Korea,Erick Wainaina Kenya,1996,Atlanta details
23,23,2000 Sydney details,Gezahegne Abera Ethiopia,Erick Wainaina Kenya,Tesfaye Tola Ethiopia,2000,Sydney details
24,24,2004 Athens details,Stefano Baldini Italy,Mebrahtom Keflezighi United States,Vanderlei de Lima Brazil,2004,Athens details
25,25,2008 Beijing details,Samuel Wanjiru Kenya,Jaouad Gharib Morocco,Tsegay Kebede Ethiopia,2008,Beijing details
26,26,2012 London details,Stephen Kiprotich Uganda,Abel Kirui Kenya,Wilson Kipsang Kiprotich Kenya,2012,London details
27,27,2016 Rio de Janeiro details,Eliud Kipchoge Kenya,Feyisa Lelisa Ethiopia,Galen Rupp United States,2016,Rio de Janeiro details
28,28,2020 Tokyo details,Eliud Kipchoge Kenya,Abdi Nageeye Netherlands,Bashir Abdi Belgium,2020,Tokyo details

In [35]:
df[['Gold_Name', 'Gold_Country']] = df['Gold'].str.rsplit(' ', expand=True, n=1)
df[['Silver_Name', 'Silver_Country']] = df['Silver'].str.rsplit(' ', expand=True, n=1)
df[['Bronze_Name', 'Bronze_Country']] = df['Bronze'].str.rsplit(' ', expand=True, n=1)
df = df.drop(columns=['Unnamed: 0', 'Games', 'Gold', 'Silver', 'Bronze']).dropna(how='any', axis=0)
# df.to_csv('raw_Olympic_Games.csv')

In [7]:
#cleaning
# drop the unwanted columns
# data = df.drop(["Rank", "Population (2001)[3][a]", "Ref"], axis=1)
# rename columns for ease
# data = data.rename(columns={"State or union territory": "State","Population(2011)[3]": "Population"})
# data.head()

NameError: name 'data' is not defined