Inspiration:
- [Berlin Marathons](https://medium.com/@moralescas/berlin-marathon-data-1974-2023-fd18f420906f)

Questions to be answered:
- **Olympic Marathon**
    - Which country won the most medals
- **NYC Marathon**
    - Difference between male and female times
    - Country with most winners
    - avg time per country
- **Berlin Marathon**
    - Where do most runners come from?
    - Where are the shortest times from?
    - Are these two places the same?
    - How did each country perform?
    - How have finishing times changed over the years?
    - How has the fastest time changed over the years?
- **Boston Marathon**:
    - how age affects race time
        - Fastest time per age group
    - difference in gender race times
- **Boston Marathon winners**:
    - Country with most winners
        - Show this on the map to show how geography can affect the outcomes
    - Avg time per country
    - Look at ¿avg? difference in time between men and women
- **Other**:
    - Does location of race affect times


Sources:
- [Berlin Marathon Data](https://www.kaggle.com/datasets/aiaiaidavid/berlin-marathons-data)
- [NYC Marathons](https://www.openintro.org/data/index.php?data=nyc_marathon)
- [Boston Marathon Data](https://data.scorenetwork.org/running/boston_marathon_2023.html)
- [Boston Marathon Winners Data](https://www.kaggle.com/datasets/zhikchen/boston-marathon-winners-men-and-women)

In [35]:
import pandas as pd

In [53]:
#files
#format: year, name, country, time, time_hrs, division[sex], note
#(only winners)
nyc_marathon = pd.read_csv('1_running_datasets/nyc_marathon.csv')

#format: year, location, Gold_Name, Gold_Country, Silver_Name, Silver_Country, Bronze_Name, Bronze_Country
#(only winners)
olympic_marathon = pd.read_csv('1_running_datasets/Olympic_Games.csv').drop(columns='Unnamed: 0')

#format: country, Gold, Silver, Bronze, Total
#(only winners)
olympic_country_medals = pd.read_csv('1_running_datasets/Olympic_Country_Medals.csv')

#format: year, country, gender, age, time
#(all participants)
berlin_marathon = pd.read_csv('1_running_datasets/berlin_marathon_1974_2023.csv')

#format: age_group, place_overall, place_gender, place_division, name, team, bib_number, half_time, finish_net, finish_gun, gender, half_time_sec, finish_net_sec, finish_gun_sec, finish_net_,minutes
#new format: name, age_group, place_gender, finish_net, finish_net_sed, finish_net_hour
#(all participants)(no country)
boston_marathon_2023 = pd.read_csv('1_running_datasets/boston_marathon_2023.csv')[['name', 'age_group', 'place_gender', 'finish_net', 'finish_net_sec']]
boston_marathon_2023['finish_net_hour'] = boston_marathon_2023['finish_net_sec']/3600
boston_marathon_2023

#format: Year, Winner, Country, Time, Distance(Miles), Distance(KM)
mens_boston_marathon_winners = pd.read_csv('1_running_datasets/Mens_Boston_Marathon_Winners.csv')
womens_boston_marathon_winners = pd.read_csv('1_running_datasets/Womens_Boston_Marathon_Winners.csv')
olympic_marathon

/var/folders/_p/y56kr6vs1fz7ycsbxhyqwwwc0000gn/T/ipykernel_46950/3725903946.py:16: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  berlin_marathon = pd.read_csv('1_running_datasets/berlin_marathon_1974_2023.csv')

,Year,Location,Gold_Name,Gold_Country,Silver_Name,Silver_Country,Bronze_Name,Bronze_Country
0,1896,Athens,Spyridon Louis,Greece,Charilaos Vasilakos,Greece,Gyula Kellner,Hungary
1,1900,Paris,Michel Théato,Luxembourg,Émile Champion,France,Ernst Fast,Sweden
2,1904,St. Louis,Thomas Hicks,United States,Albert Corey,France,Arthur Newton,United States
3,1908,London,Johnny Hayes,United States,Charles Hefferon,South Africa,Joseph Forshaw,United States
4,1912,Stockholm,Ken McArthur,South Africa,Christian Gitsham,South Africa,Gaston Strobino,United States
5,1920,Antwerp,Hannes Kolehmainen,Finland,Jüri Lossmann,Estonia,Valerio Arri,Italy
6,1924,Paris,Albin Stenroos,Finland,Romeo Bertini,Italy,Clarence DeMar,United States
7,1928,Amsterdam,Boughera El Ouafi,France,Manuel Plaza,Chile,Martti Marttelin,Finland
8,1932,Los Angeles,Juan Carlos Zabala,Argentina,Sam Ferris,Great Britain,Armas Toivonen,Finland
9,1936,Berlin,Sohn Kee-chung,Japan,Ernest Harper,Great Britain,Nam Sung-yong,Japan
10,1948,London,Delfo Cabrera,Argentina,Tom Richards,Great Britain,Étienne Gailly,Belgium
11,1952,Helsinki,Emil Zátopek,Czechoslovakia,Reinaldo Gorno,Argentina,Gustaf Jansson,Sweden
12,1956,Melbourne,Alain Mimoun,France,Franjo Mihalić,Yugoslavia,Veikko Karvonen,Finland
13,1960,Rome,Abebe Bikila,Ethiopia,Rhadi Ben Abdesselam,Morocco,Barry Magee,New Zealand
14,1964,Tokyo,Abebe Bikila,Ethiopia,Basil Heatley,Great Britain,Kokichi Tsuburaya,Japan
15,1968,Mexico City,Mamo Wolde,Ethiopia,Kenji Kimihara,Japan,Mike Ryan New,Zealand
16,1972,Munich,Frank Shorter United,States,Karel Lismont,Belgium,Mamo Wolde,Ethiopia
17,1976,Montreal,Waldemar Cierpinski,East Germany,Frank Shorter,United States,Karel Lismont,Belgium
18,1980,Moscow,Waldemar Cierpinski,East Germany,Gerard Nijboer,Netherlands,Satymkul Dzhumanazarov,Soviet Union
19,1984,Los Angeles,Carlos Lopes,Portugal,John Treacy,Ireland,Charlie Spedding,Great Britain
20,1988,Seoul,Gelindo Bordin,Italy,Douglas Wakiihuri,Kenya,Ahmed Salah,Djibouti
21,1992,Barcelona,Hwang Young-cho,South Korea,Koichi Morishita,Japan,Stephan Freigang,Germany
22,1996,Atlanta,Josia Thugwane,South Africa,Lee Bong-ju,South Korea,Erick Wainaina,Kenya
23,2000,Sydney,Gezahegne Abera,Ethiopia,Erick Wainaina,Kenya,Tesfaye Tola,Ethiopia
24,2004,Athens,Stefano Baldini,Italy,Mebrahtom Keflezighi,United States,Vanderlei de Lima,Brazil
25,2008,Beijing,Samuel Wanjiru,Kenya,Jaouad Gharib,Morocco,Tsegay Kebede,Ethiopia
26,2012,London,Stephen Kiprotich,Uganda,Abel Kirui,Kenya,Wilson Kipsang Kiprotich,Kenya
27,2016,Rio de Janeiro,Eliud Kipchoge,Kenya,Feyisa Lelisa,Ethiopia,Galen Rupp,United States
28,2020,Tokyo,Eliud Kipchoge,Kenya,Abdi Nageeye,Netherlands,Bashir Abdi,Belgium

In [31]:
data = pd.DataFrame('', columns=['year', 'name', 'country', 'gender', 'time'], index = [1, 2, 3, 4, 5])

In [23]:
data

  year name country gender time
1
2
3
4
5