Inspiration:
- [Berlin Marathons](https://medium.com/@moralescas/berlin-marathon-data-1974-2023-fd18f420906f)

Questions to be answered:
- Where most long distance atheletes come from
- Where the most successful atheletes are from
    - Show this on the map to show how geography can affect the outcomes
- Do separately for male and female
- Average/median time of running based on where the race took place
- Berlin marathon ds
    - For the Berlin marathon, look at how each country performed. Additionally, look at how the finishing times for each marathon have changed over the years
    - How does age affect finishing time
        - Look at the fastest time per age group



Sources:
- [Berlin Marathon Data](https://www.kaggle.com/datasets/aiaiaidavid/berlin-marathons-data)
- [NYC Marathons](https://www.openintro.org/data/index.php?data=nyc_marathon)
- [Boston Marathon Data](https://data.scorenetwork.org/running/boston_marathon_2023.html)

In [26]:
import pandas as pd

In [34]:
#files
#format: year, name, country, time, time_hrs, division[sex], note
#(only finishing times/winners)
nyc_marathon = pd.read_csv('1_running_datasets/nyc_marathon.csv')

#format: year, location, Gold_Name, Gold_Country, Silver_Name, Silver_Country, Bronze_Name, Bronze_Country
#(only finishing times/winners)
olympic_marathon = pd.read_csv('1_running_datasets/Olympic_Games.csv').drop(columns='Unnamed: 0')

#format: country, Gold, Silver, Bronze, Total
#(only finishing times/winners)
olympic_country_medals = pd.read_csv('1_running_datasets/Olympic_Country_Medals.csv')

#format: year, country, gender, age, time
#(all participants)
berlin_marathon = pd.read_csv('1_running_datasets/berlin_marathon_1974_2023.csv')

boston_marathon = pd.read_csv('1_running_datasets/boston_marathon_2023.csv')
boston_marathon

/var/folders/_p/y56kr6vs1fz7ycsbxhyqwwwc0000gn/T/ipykernel_46950/657011599.py:16: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  berlin_marathon = pd.read_csv('1_running_datasets/berlin_marathon_1974_2023.csv')

,age_group,place_overall,place_gender,place_division,name,team,bib_number,half_time,finish_net,finish_gun,gender,half_time_sec,finish_net_sec,finish_gun_sec,finish_net_minutes
0,18-39,1,1,1,"Chebet, Evans",Team–,1,1H 2M 20S,2H 5M 54S,2H 5M 54S,M,3740.0,7554,7554,125.900000
1,18-39,2,2,2,"Geay, Gabriel",Team–,3,1H 2M 20S,2H 6M 4S,2H 6M 4S,M,3740.0,7564,7564,126.066667
2,18-39,3,3,3,"Kipruto, Benson",Team–,5,1H 2M 19S,2H 6M 6S,2H 6M 6S,M,3739.0,7566,7566,126.100000
3,18-39,4,4,4,"Korir, Albert",Team–,19,1H 2M 20S,2H 8M 1S,2H 8M 1S,M,3740.0,7681,7681,128.016667
4,18-39,5,5,5,"Talbi, Zouhair",Team–,31,1H 2M 20S,2H 8M 35S,2H 8M 35S,M,3740.0,7715,7715,128.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,75-79,25856,10994,8,"Bryan, T. J.",Team–,24573,2H 21M 27S,5H 28M 48S,5H 29M 29S,W,8487.0,19728,19769,328.800000
26594,75-79,26144,11158,9,"Hung, Patty",Team–,15933,2H 37M 0S,5H 40M 37S,5H 40M 58S,W,9420.0,20437,20458,340.616667
26595,75-79,26203,11188,10,"Tattersall, Theresa",Team–,24570,2H 41M 25S,5H 42M 59S,5H 46M 38S,W,9685.0,20579,20798,342.983333
26596,80+,25010,10544,1,"Sabourin, Helen",Team–,24569,2H 31M 18S,5H 4M 6S,5H 4M 37S,W,9078.0,18246,18277,304.100000
26597,80+,25149,10615,2,"Rigney, Hansi",Team–,24567,2H 33M 28S,5H 7M 42S,5H 7M 48S,W,9208.0,18462,18468,307.700000

In [31]:
data = pd.DataFrame('', columns=['year', 'name', 'country', 'gender', 'time'], index = [1, 2, 3, 4, 5])

In [23]:
data

  year name country gender time
1
2
3
4
5