In [2]:
from bs4 import BeautifulSoup
import requests
from pprint import pprint
import pandas as pd

In [1]:
def scrape_wikipedia(url, output_file):
    # Send a GET request to the Wikipedia page
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')

        # Find and print the title of the Wikipedia page
        title = soup.find('h1', {'id': 'firstHeading'})
        print(f"Title: {title.text.strip()}")

        # Find and print the main content of the page
        content = soup.find('div', {'id': 'mw-content-text'})
        paragraphs = content.find_all('p')
        text_content = '\n'.join(paragraph.text for paragraph in paragraphs)

        with open(output_file, 'w', encoding='utf-8') as file:
            file.write(f"Title: {title}\n\n")
            file.write(text_content)

    else:
        print(f"Failed to retrieve the page. Status code: {response.status_code}")

# Replace 'https://en.wikipedia.org/wiki/Your_Page_Title' with the URL of the Wikipedia page you want to scrape
url = 'https://en.wikipedia.org/wiki/Astronomy'
output_file = 'wiki_scraped_data.txt'
scrape_wikipedia(url, output_file)

title: <h1 class="firstHeading mw-first-heading" id="firstHeading"><span class="mw-page-title-main">Astronomy</span></h1>
Title: Astronomy

In [31]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/Marathons_at_the_Olympics"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [32]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [33]:
df = pd.read_html(str(indiatable)) # this is a list
print (len(df))
df = pd.DataFrame(df[0])             # convert to df
df.head()
# Adjusted regular expression
df.to_csv('wiki.csv')

1

/var/folders/_p/y56kr6vs1fz7ycsbxhyqwwwc0000gn/T/ipykernel_57000/938132580.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(indiatable)) # this is a list

/var/folders/_p/y56kr6vs1fz7ycsbxhyqwwwc0000gn/T/ipykernel_57000/2758103036.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace(',', ' '))

AttributeError: 'float' object has no attribute 'replace'

In [55]:
#cleaning
# drop the unwanted columns
data = df.drop(["Rank", "Population (2001)[3][a]", "Ref"], axis=1)
# rename columns for ease
data = data.rename(columns={"State or union territory": "State","Population(2011)[3]": "Population"})
data.head()

        City  Population (2011)[3]        State
0     Mumbai              12442373  Maharashtra
1      Delhi              11034555        Delhi
2  Bangalore               8443675    Karnataka
3  Hyderabad               6993262    Telangana
4  Ahmedabad               5577940      Gujarat